* {
    box-sizing: border-box;
}
body {
    font-family: 'Open Sans';
    font-weight: 400;
    background-color:#f0f0f0;
    margin: 0;
}
h1,h2,h3,h4,h5,h6,blockquote {
    font-family: 'Roboto Slab';
    font-weight: 400;
    display: inline-block;
}
.contenido {
    width: 100%;
    height: 100%;
    max-width: 1140px;
    margin: 0 auto;
    background-color: #ffffff;
    text-align: center;
}
    .contenido>h1 {
        text-align: center;
    }
    #usuario, #contraseña {
        display: block;
        margin: 1em auto;
        width: 200px;
        height: 30px;
    }
    #btnConectar {
        display: block;
        margin: 1em auto;
        width: 150px;
        height: 30px;
        background-color: #238bd4;
        color: #fff;
        border-radius: 2px;
        outline: none;
        border: 0;
        cursor: pointer;
    }
    #btnConectar:hover {
        background-color: #4596d0;
    }
    #btnConectar:active {
        background-color: #1a73b3;
    }
    .error {
        display: none;
        width: 200px;
        height: 50px;
        margin: 1em auto;
        background-color: #ff6341;
        color: #fff;
        text-align: center;
    }
    #error {
        display: inline;
        line-height: 50px;
    }
